* {
    background-color: rgb(33, 37, 41);
}

.wrapper {
    border-radius: 10px;
    box-shadow: 0 2px 5px #ffc107;
    border: .5px solid #ffc107;
}

.wrapper a{
    text-decoration: none;
    color: #ffc107;
}


small.success {
    visibility: hidden;
}

small.error{
    visibility: visible;
    color: red;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }   
}

.company-name {
    font-size:84px; /* You can adjust the font size as needed */
    display: block; /*Makes the <h1> elements block-level */
    margin-bottom: 0px; /* Decreased spacing between "Ancestral DNA" and "Collaborator" */
}

.slogan {
    margin-top: 50px; /* Increased spacing between "Collaborator" and the following text */
}

.text-column {
    padding-right: 30px;
}

.nav-item {
    padding-right: 20px;
}

.custom-link {
    font-size: 1.25rem;
    text-decoration: none;
}
