 * {
    color: white;
}

.donate-button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
}
.donate-button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.donate-button:focus, .donate-button.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

i {
    background-color: white;
    color: rgb(33, 37, 41);
}

.custom-navbar-margin {
    margin-left: 0%;
    margin-right: 0%;
}

.custom-navbar-justify-content {
    justify-content:center;
}

.body
{margin-left: 5%;
margin-right: 5%;
}
.wrapper {
    border-radius: 10px;
    box-shadow: 0 2px 5px #ffc107;
    border: .5px solid #ffc107;
}

.wrapper a{
    text-decoration: none;
    color: #ffc107;
}


small.success {
    visibility: hidden;
}

small.error{
    visibility: visible;
    color: red;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }   
}

.company-name {
    font-size:84px;
    display: block;
    margin-top: -20px;
}

.slogan {
    margin-top: 8%;
}

.text-column {
    padding-right: 10%;
}

.nav-item {
    padding-right: 20px;
}
/* Custom CSS to allow navbar items to wrap */
.navbar-collapse {
  flex-wrap: wrap;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}